<%-include("../../views/partials/user/header")%>


    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/" rel="nofollow">Home</a>
                    <span></span> Contact us
                </div>
            </div>
        </div>
        <section class="hero-2 bg-green">
            <div class="hero-content">
                <div class="container">
                    <div class="text-center">
                        <h4 class="text-brand mb-20">Connect with Us</h4>
                        <h1 class="mb-20 wow fadeIn animated font-xxl fw-900">
                            Showcase Your Passion with <br><span class="text-style-1">Exclusive Car Frames</span>
                        </h1>
                        <p class="w-50 m-auto mb-50 wow fadeIn animated">
                            Experience the art of speed and luxury with our limited-edition super and hypercar frames.
                            Let us help you bring your passion to life with our exquisite collection.
                        </p>
                        <p class="wow fadeIn animated">
                            <a class="btn btn-brand btn-lg font-weight-bold text-white border-radius-5 btn-shadow-brand hover-up"
                                href="/about">About Us</a>
                           
                        </p>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <%-include("../../views/partials/user/footer")%>