<div class="col-12">
    <%if(order.orderStatus !=="Cancelled" && order.orderStatus !=="Deliverd" && order.orderStatus
        !=="Returned" && order.paymentStatus !=="Failed" ){%>
        <button type="button" id="cancelOrderButton" class="btn btn-danger">
            Cancel Order
        </button>
        <%}else if(order.orderStatus==="Deliverd" ){%>
            <button id="returnOrderButton" type="button" class="btn btn-warning">
                Return Order
            </button>
            <%}else{%>
                <p class="text-muted">No action possible</p>
                <%}%>
</div>